- name: Set up JDK
  uses: actions/setup-java@v4
  with:
    java-version: '21'
    distribution: 'temurin'
    cache: gradle

- name: Setup Git submodules
  run: git submodule update --init --recursive

- name: Grant execute permission for gradlew
  run: chmod +x gradlew

- name: Set up Android SDK
  uses: android-actions/setup-android@v2
- name: Build APK
  run: ./gradlew assembleRelease
